html{
    z-index: 0;
    font-family: Calibri, serif;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: clip;
}

body{
    z-index: 1;
    padding: 0;
    margin: 0;
}

#search_container{
    margin-left: auto;
    margin-right: auto;
}

#btn_search{
    color: white;
    font-size: 15px;
}

#header_container{
    display: flex;
    justify-content: space-between;
}

.profile{
    text-align: right;
    animation: hide 2.5s;
    display: inline-block;
}

header{
    z-index: 2;
    height: 45px;
    position: relative;
    background-color: #000000;
    border-bottom: 2px solid #3C3C3C;
    top: 0;
    left: 0;
    right: 0;
    animation: head 1.5s;
    justify-content: space-between;
}

main{
    z-index: 1;
    padding-top: 40px;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    text-align: center;
    justify-content: center;
}

footer{
    z-index: 2;
    display: block;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #3C3C3C;
    animation: foot 1.5s;
}

#mid{
    display: flex;
    justify-content: space-between;
}

#left, #text, #right{
    margin-bottom: 15px;
}

#text{
    display: block;
}

#left{
    width: 25%;
    text-align: center;
}

#right{
    text-align: center;
    width: 30%;
}

button{
    border: 0;
    background-color: rgba(128, 128, 128, 0);
    font-size: 25px;
    cursor: pointer;
}

#footer_name_music{
    display: inline-block;
}

.one_music{
    cursor: pointer;
    margin-bottom: 15px;
    border: 1px #3C3C3C solid;
    border-radius: 50px;
    height: 42px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 25px;
}

.one_music:hover{
    border-color: yellow;
}

.author_music{
    color: gray;
    margin: 0;
    font-size: 12px;
}

.name_music{
    color: white;
}

#timer{
    display: inline-block;
    position: relative;
    top: -7px;
}

.left_said{
    float: right;
}

.user{
    display: inline;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

#not_active_duration{
    width: 100%;
    height: 8px;
    background-color: gray;
}
#sound_bar{
    -webkit-appearance: none !important;
    background: black;
    border-radius: 50px;
}

#sound_bar::-webkit-slider-thumb{
    -webkit-appearance: none !important;
    background: white;
    height: 10px;
    width: 10px;
}

#loop:hover, #next:hover, #play:hover, #pause:hover, #last:hover{
    border: 1px solid yellow;
    border-radius: 50%;
}

#loop, #next, #play, #pause, #last{
    margin: 0;
    color: black;
    width: 40px;
    height: 40px;

}

#search{
    background-color: black;
    border-radius: 25px;
    border: 1px solid white;
    width: 250px;
}

#active_duration{
    width: 0;
    height: 8px;
    background-color: red;
    position: relative;
    bottom: 8px;
}


@keyframes head {
    0%{
        opacity: 0;
        height: 0;
    }
    100%{
        opacity: 100%;
        height: 45px;
    }
}

@keyframes foot {
    0%{
        height: 0;
    }
    100%{
        height: 88px;
    }
}

@keyframes hide {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}